<div id="bottomToolbarMainModule">
    <div id="kitIcon" class="bottomToolbar"></div>
	<div id="fullscreen" class="bottomToolbar"><img src="assets/images/fullscreen_tool.jpg" /></div>
	<div id="undo" class="bottomToolbar" data-bind="style: { color: undo() ? '#424242' : 'grey',cursor:undo() ? 'pointer' : 'auto' }" ><img src="assets/images/undo_tool.jpg" /></div>
	<div id="redo"  class="bottomToolbar" data-bind="style: { color: redo() ? '#424242' : 'grey', cursor:redo() ? 'pointer' : 'auto'  }"><img src="assets/images/redo_tool.jpg" /></div>
	<div id="save"  class="bottomToolbar"><img src="assets/images/save_tool.jpg" /></div>
	<div id="share" class="bottomToolbar" ><img src="assets/images/share_tool.jpg" /></div>
	<div id="image"  class="bottomToolbar" ><img src="assets/images/image_tool.jpg" /></div>
	<div id="currentTools" class="bottomToolbar" ></div>
	<div style="clear:both;"></div>
</div>

	