<div id="beta" >Beta</div>
<div id="aboutTncContainer">
	<!--  <div id="about" >About</div>
	<div id="aboutTncDivider"></div>-->
	<div id="tnc" >Terms & Conditions</div>
</div>
<div id="uploadArea">
   <div id="asianPaintsImage"></div>
	<div id="uploadFileContainer">
	   <input type="file" id="ImageFileUpload" accept="image/jpg, image/png, image/jpeg" />
	</div>
	<div id="uploadPrecutContainer" style="display: none;">
	   <input type="file" id="precutFileUpload" />
	</div> 
	<!--  <div class="urlUploadContainer">
	   <input type="text" class="urlFileUpload" />
	</div>
	<div class="urlContainer">
		<div class="urlBox">
			<input type="url"  placeholder=" Insert the URL"  class="urlInput">
		</div>
		<span class="goBtn"></span>
	</div>-->
	
</div>
<div id="inspirationWall">
	<div id="aboutScreentest">About Screentest</div>
	<!--div id="aboutTextContainer">
	    <div id="aboutText">
			Screentest is an app for interior and exterior painting projects. It has various colour options available to help you decorate your home or room. You can choose from a variety of images in our online library and try different colour combinations on the image to find the ones that best suit you. Once you have done this you can also save or share your chosen combinations.<br><br> 
			To begin your journey:<br>
			Select an image from your device gallery or snap an image from your device or select an image from our inspiration wall.<br><br>
	
			We can assure you that screentest will make painting your favourite room or house exciting and convenient.<br>
			So go ahead and add some colour to your life!
		</div>
	</div-->
</div>
<div id="aboutTncPopup">
	<!-- <div class="about" >
		<div  class="heading">About<span id="aboutTncPopupCloseBtn" class="closeBtn"></span></div>
		<div  class="content">
		Screentest is an app for interior and exterior painting projects. It has various colour options available to help you decorate your home or room. You can choose from a variety of images in our online library and try different colour combinations on the image to find the ones that best suit you. Once you have done this you can also save or share your chosen combinations.<br><br> 
		To begin your journey:<br>
		Select an image from your device gallery or snap an image from your device or select an image from our inspiration wall.<br><br>

		We can assure you that screentest will make painting your favourite room or house exciting and convenient.<br>
		So go ahead and add some colour to your life! 
		</div>
	</div> -->
	<div class="termsAndCondition" style="display: none;">
		<div class="heading">Terms & Conditions<span id="aboutTncPopupCloseBtn" class="closeBtn"></span></div>
		<div class="content">
			&#x25cf;&nbsp;&nbsp;&nbsp;Colour Fidelity: The colour shades used in the application are indicative and not precise representations of the actual paint colours.<br><br> 
			&#x25cf;&nbsp;&nbsp;&nbsp;Images saved on Inspiration Wall can be used by Asian Paints for promotion on all our platforms.<br><br>
			&#x25cf;&nbsp;&nbsp;&nbsp;The actual sizes of Wall fashion and textures may vary and are only representative in this application and should be checked with the dealer/contractor before finalizing or purchasing.<br><br>
		</div>
	</div>
</div>