<div id="toolbarTemplate" >
	<div id="tabs" >		
		<div id="sharpness" class="mainToolbar dividerStyle topToolbarText">SHARPNESS</div>
		<div id="brightness" class="mainToolbar dividerStyle topToolbarText">BRIGHTNESS</div>
		<div id="contrast"  class="mainToolbar dividerStyle topToolbarText">CONTRAST</div>			
	</div>
	<div id="buttonsDiv" >
		<div id="proceedButton" onclick="ImageEdit.proceed(event)" >&nbsp</div>
		<div id="resetButton"  onclick="ImageEdit.reset(event)">&nbsp</div>
	</div>
	<div style="clear:both;"></div>
	<div id="controllersDiv">
	   <div id="brightnessController" class="controllers" ></div>
	   <div id="sharpnessController" class="controllers" ></div>
	   <div id="contrastController" class="controllers" ></div>	  
	</div>	
</div>	
<script type="text/javascript">
//ImageEdit.proceed();
//var proceedButton = document.getElementById('proceedButton');
//proceedButton.click();

var interval = setInterval(function(){
	clearInterval(interval);
	var proceedButton = document.getElementById("proceedButton");
	if (typeof proceedButton.onclick == "function") {
		proceedButton.onclick.apply(proceedButton);
	}
}, 10);

</script>