  
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="shareContainer">
	<div class="shareHeader">Share Via</div>
	<ul class="shareList">
		<li class="shareListItem" onclick="shareLocalPhotoViaGraphAPI()"><span class="facebookShare listIcon"></span><span class="listText">Facebook</span><div style="clear: both;"></div></li>
		<li class="shareListItem"><a id="twittershare"  href="https://twitter.com/share?text=Ezycolour Screentest app I have visualized my room in various colours using this amazing app from Asian Paints&url=http://www.asianpaints.com/cloud/InspirationWall/InspirationImages/AP/Medium_Bedroom-Paints-D%C3%A9cor-Blue-Purple.jpg" target="_blank" data-lang="en" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="twitterShare listIcon"></span><span class="listText">Twitter</a></span><div style="clear: both;"></div></li>
		<li class="shareListItem"><span id="googleshare" class="demo g-interactivepost" data-clientid="280119314754.apps.googleusercontent.com" data-contenturl="http://www.asianpaints.com/cloud/InspirationWall/InspirationImages/AP/Medium_Bedroom-Paints-D%C3%A9cor-Blue-Purple.jpg" data-calltoactionlabel="CREATE" data-calltoactionurl="http://www.asianpaints.com/cloud/InspirationWall/InspirationImages/AP/Medium_Bedroom-Paints-D%C3%A9cor-Blue-Purple.jpg?invite=true"data-cookiepolicy="single_host_origin" data-prefilltext="Ezycolour Screentest app I have visualized my room in various colours using this amazing app from Asian Paints"><span class="gPlusShare listIcon"></span><span class="listText">Google+</span></span><div style="clear: both;"></div></li>
		<!-- <li class="shareListItem"><span class="insipirationWallShare listIcon"></span><span class="listText">Post on my Inspiration Wall</span><div style="clear: both;"></div></li>-->
	</ul>
	<div style="clear: both;"></div>
</div>
<div class="arrow-down"></div>





